{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps  {lambdaisland/deep-diff2    {:mvn/version "2.0.108"}
                 lambdaisland/deep-diff     {:mvn/version "0.0-47"}
                 com.cognitect/transit-clj  {:mvn/version "1.0.324"}
                 com.cognitect/transit-cljs {:mvn/version "0.8.269"}
                 mvxcvi/puget               {:mvn/version "1.3.1"}}}

  :test
  {:extra-paths ["test" "test_resources"]
   :extra-deps  {lambdaisland/kaocha      {:mvn/version "1.60.945"}
                 com.lambdaisland/kaocha-cljs {:mvn/version "1.0.113"}}}}}
